@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Raleway", sans-serif !important;
  font-optical-sizing: auto !important;
  color: #eaeaea;
}

/* card shadow style */
.card-shadow {
  box-shadow: 0px 8px 8px #181c143b;
}

/* input type number style */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* scrollbar style */
.scrollbar::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  scrollbar-gutter: stable;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #f3f4f6;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: #6b7280;
  border-radius: 100vh;
  border: 3px solid #f3f4f6;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #14b8a6;
}

/* loading styles */
.loader {
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #2e5153;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50%;
  border-left: 4px solid #14b8a6;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* shimmer style */
.shimmer {
  background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
  background-size: 400px 100%;
  animation: shimmer 1.2s infinite;
}
@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

@layer components {
  .btn-outline {
    @apply bg-light border text-primary border-dark/30 hover:bg-primary hover:text-light;
  }
  .btn-primary {
    @apply text-light bg-primary hover:bg-primary/80;
  }
  .btn-green {
    @apply text-light bg-green-600 hover:bg-green-700;
  }
  .btn-blue {
    @apply text-light bg-blue-600 hover:bg-blue-700;
  }
  .btn-red {
    @apply text-light bg-red-600 hover:bg-red-700;
  }
  .btn-cross-border {
    @apply absolute duration-300 right-4 top-4 flex justify-center items-center rounded-full border-primary border-2 size-8 hover:bg-primary;
  }
  .btn-close {
    @apply absolute flex items-center justify-center bg-red-500 rounded-full size-6 -top-2 -right-2 z-1 hover:bg-red-700;
  }
  .head-title {
    @apply text-lg sm:text-xl lg:text-2xl xl:text-3xl font-bold text-primary;
  }
  .heading {
    @apply text-lg sm:text-xl lg:text-2xl font-bold text-primary;
  }
  .subheading {
    @apply text-base text-dark sm:text-lg md:text-xl;
  }
  .input-text {
    @apply w-full p-2 text-sm border rounded text-dark outline-none border-dark/30 focus:border-teal-500 focus:ring-1 focus:ring-teal-500;
  }
  .input-select {
    @apply p-2 text-sm border border-dark/30 text-dark focus:border-teal-500 outline-none rounded focus:ring-1 focus:ring-teal-500;
  }
  .popover {
    @apply absolute p-4 space-y-2 -translate-x-1/2 border border-gray rounded shadow-lg left-1/2 w-full bg-light text-dark z-100;
  }
  .dropdown {
    @apply relative flex items-center gap-2 p-2 text-sm text-gray bg-light font-semibold rounded cursor-pointer sm:px-4 sm:gap-8 border;
  }
  .file-label {
    @apply flex items-center gap-2 px-4 py-2 text-sm font-semibold border-0 cursor-pointer rounded bg-gray text-primary hover:bg-primary/20;
  }
  .sidebar-menu {
    @apply relative flex items-center justify-center py-2 overflow-hidden duration-300 rounded hover:bg-light;
  }
  .pagination-number {
    @apply size-10 sm:size-12 flex items-center justify-center text-center transition-all border rounded shadow-sm border-gray/50 text-dark;
  }
  .pagination-button {
    @apply px-4 py-1 flex items-center gap-1 justify-center transition-all duration-300 rounded bg-light;
  }
}
